[submodule "lib/smi.0"]
	path = lib/smi.0
	url = git://github.com/sourcemint/smi.0.git
[submodule "cores/model"]
	path = cores/model
url=git://github.com/LogicCores/0-model.git
[submodule "0.FireWidgets"]
	path = 0.FireWidgets
	url = git://github.com/firewidgets/0.FireWidgets.git
[submodule "0.PINF.Genesis"]
	path = 0.PINF.Genesis
url=git://github.com/pinf/0.PINF.Genesis.git
[submodule "0.stack"]
	path = 0.stack
	url = git://github.com/LogicCores/0.stack.git
[submodule "0.stack.dev"]
	path = 0.stack.dev
	url = git://github.com/LogicCores/0.stack.dev.git
[submodule "0.stack.test"]
	path = 0.stack.test
	url = git://github.com/LogicCores/0.stack.test.git
[submodule "0.stack.admin"]
	path = 0.stack.admin
	url = git://github.com/LogicCores/0.stack.admin.git
[submodule "0.stack.app"]
	path = 0.stack.app
	url = git://github.com/LogicCores/0.stack.app.git
[submodule "0.stack.web"]
	path = 0.stack.web
	url = git://github.com/LogicCores/0.stack.web.git
[submodule "0.PINF.Genesis.to"]
	path = 0.PINF.Genesis.to
url=git://github.com/pinf-to/0.PINF.Genesis.to.git
[submodule "0.VirtualCloud.Genesis"]
	path = 0.VirtualCloud.Genesis
url=git://github.com/virtualcloud-io/0.VirtualCloud.Genesis.git
[submodule "0.devcomp.genesis"]
	path = 0.devcomp.genesis
	url = git://github.com/devcomp/0.devcomp.genesis.git
[submodule "0.CloudIDE.Genesis"]
	path = 0.CloudIDE.Genesis
	url = git://github.com/CloudIDE-Plugins/0.CloudIDE.Genesis.git
[submodule "lib/sm.expand"]
	path = lib/sm.expand
	url = git://github.com/sourcemint/sm.expand.git
[submodule "lib/smi-for-git"]
	path = lib/smi-for-git
	url = git://github.com/sourcemint/smi-for-git.git
[submodule "lib/smi-for-npm"]
	path = lib/smi-for-npm
	url = git://github.com/sourcemint/smi-for-npm.git
[submodule "0.FireConsole"]
	path = 0.FireConsole
	url = git://github.com/fireconsole/0.FireConsole.git
[submodule "lib/node.pack"]
	path = lib/node.pack
	url = git://github.com/NodePACK/node.pack.git
[submodule "lib/virtual-dom"]
	path = lib/virtual-dom
url=git://github.com/firewidgets/virtual-dom.git
[submodule "cores/env"]
	path = cores/env
	url = git://github.com/LogicCores/0-env.git
[submodule "cores/service"]
	path = cores/service
	url = git://github.com/LogicCores/0-service.git
[submodule "cores/library"]
	path = cores/library
	url = git://github.com/LogicCores/0-library.git
[submodule "cores/job"]
	path = cores/job
	url = git://github.com/LogicCores/0-job.git
[submodule "cores/report"]
	path = cores/report
url=git://github.com/LogicCores/0-report.git
[submodule "cores/message"]
	path = cores/message
	url = git://github.com/LogicCores/0-message.git
[submodule "cores/application"]
	path = cores/application
url=git://github.com/LogicCores/0-application.git
[submodule "lib/console-trace"]
	path = lib/console-trace
url=git://github.com/cadorn/console-trace.git
[submodule "lib/node.unpack"]
	path = lib/node.unpack
url=git://github.com/NodePACK/node.unpack.git
