[submodule "cores/application"]
	path = cores/application
url=git://github.com/LogicCores/0-application.git
[submodule "lib/console-trace"]
	path = lib/console-trace
url=git://github.com/cadorn/console-trace.git
[submodule "lib/node.unpack"]
	path = lib/node.unpack
url=git://github.com/NodePACK/node.unpack.git
